:root {
    --Gold: #D4AF37; /* Un dorado más sofisticado */
    --Charcoal: #333333; /* Un gris oscuro, más suave y elegante */
    --Ivory: #FFFFF0; /* Un blanco roto suave y elegante */
    --Sapphire: #2F4F4F; /* Un tono azul verdoso oscuro */
    --Silver: #C0C0C0; /* Un color plateado suave */
}
.tit{
    width: 100%;
    height: 120px;
    padding: 20px;
    display:flex;
}
#TituloP {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 30px;
    text-align: center;
    color: var(--Gold);
    flex-grow: 0.5; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1); /* Sutil y elegante */
}   
body {
    background-color: var(--Charcoal);
    color: var(--Ivory);
    margin: 20px; 
    font-family: 'Georgia', serif; /* Cambié la fuente para que sea más elegante */
    text-align: justify;
    border: 2px solid black;
}
p{
    color:var(--Ivory);
    
}
li{
    color: var(--Ivory);
}
#Slogan{
    text-align: center;
    background-color:var(--Gold);
}
.intro{
    margin: 10px;
    width: auto;
    height: 200px;
    background-color: var(--Sapphire); /* Un fondo más elegante */
    border: 2px solid var(--Silver); /* Bordes de color plateado para dar un toque refinado */
    border-radius: 12px; /* Bordes más suaves */
    padding: 20px;
}
.container {
    margin: 10px;
    display: flex;
    justify-content:space-between;
    width: 98%; 
    border: 2px solid black;
    border-radius: 10px;
    background-color:var(--Gold); 
}
.cuadro, .EFECTO, .CONSECUENCIAS {
    flex-grow: 1; 
    height: 400px;
    margin: 10px;
    background-color: var(--Sapphire); /* Un fondo más elegante */
    border-radius: 12px; /* Bordes más suaves */
    padding: 20px;
}
.cuadro {
    background-color:var(--Sapphire);
}

.EFECTO {
    background-color:var(--Sapphire);
}

.CONSECUENCIAS {
    background-color:var(--Sapphire);
}
#seccion1{
    margin: 10px;
    width: auto;
    height: 700px;
    border: 2px solid black;
    background-color: var(--Sapphire); /* Un fondo más elegante */
    border-radius: 12px; /* Bordes más suaves */
    padding: 20px;
}

.card-container {
    perspective: 1000px; 
}
.card-container1 {
    perspective: 1000px; 
}
.card, .card1 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(500000px); 
    transition: transform 8.2s ease;
}

.card1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(500000px); 
    transition: transform 8.2s ease;
}
.card:hover img {
    transform: translateZ(1000px);
}
.card1:hover img {
    transform: translateZ(1000px);
}
#seccion2{
    background-color:var(--Sapphire);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}
.fisica{

    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: flex;
}

.fis{
    background-color: var(--Gold);
    width:auto;   
    height: 140px;
    margin: 50px;
    border-radius: 10px;
    padding: 20px;  
    border: 2px solid black;
}
.fisica2{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: flex;

}
.fis2{
    background-color: var(--Gold);
    width:auto;   
    height: 180px;
    margin: 50px;
    border-radius: 10px;
    padding: 20px; 
    border: 2px solid black;
}
.relacion {
    background-color: var(--Gold);
    width:auto;   
    height: 220px;
    margin: 5px;
    border-radius: 10px;
    padding: 20px; 
    border: 2px solid black;

}
.card-container {
    perspective: 1000px; 
    display: flex;
}
.card-container1 {
    perspective: 1000px; 

}
.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
}
.card1 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(500000px); 
    transition: transform 8.2s ease;
}
.card1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(500000px); 
    transition: transform 8.2s ease;
}
.card:hover img {
    transform: translateZ(1000px);
}
.card1:hover img {
    transform: translateZ(1000px);
}
.Ingles {
    background-color:var(--Sapphire);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}
#seccion4{
    background-color:var(--Sapphire);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px; 
}
.historia{
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    background-color:var(--Sapphire);
    display: flex;
}
#calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    background-color: var(--Gold);
}
#tree {
    width: 40%;
    text-align: center;
}
#image {
    width: 300px;
    height: auto;
}
.infoh{
    background-color: var(--Gold);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    display:block;

}
.mat{
    margin: 10px;
    background-color:var(--Sapphire);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    display:block;
}
#seccion6{
    background-color:var(--Sapphire);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px; 
}
.in,.tesis,.conclusion{
    background-color: var(--Gold);
    width:auto;   
    height: 140px;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;  
    border: 2px solid black;
}
.argumento{
    background-color:var(--Gold);
    width:auto;   
    height: 350px;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;  
    border: 2px solid black;
}
#seccion7{
    background-color:var(--Sapphire);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px; 
}
.biologia{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: flex;
    

}
.pregunta{
    background-color: var(--Gold);
    width:auto;   
    height: 250px;
    margin: 50px;
    border-radius: 10px;
    padding: 20px;  
    border: 2px solid black;
}
.biologia2{
    display: flex;
    align-items: center;
    padding: 20px;
}
.pregun2{
    background-color: var(--Gold);
    flex: 1;
    margin-right: 20px;
    border: 2px solid black;
    width:auto;   
    height: 250px;
    margin: 50px;
    border-radius: 10px;
    padding: 20px; 
}
.img1{
    max-width: 550000px;
    height: auto;
}
.pregunta3,.pregunta4,.pregunta5{
    background-color: var(--Gold);
    width:auto;   
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;  
    border: 2px solid black;
}
#soporte{
    background-color:var(--Sapphire);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px; 
}
#soporte1{
    display: flex;
    justify-content:space-between;
}
.lg{
    background-color: var(--Gold);
    margin-right: 20px;
    border: 2px solid black;
    width:750px;   
    height: 700px;
    margin: 50px;
    border-radius: 10px;
    padding: 20px; 
}
.Netlife{
    background-color: var(--Gold);
    margin-right: 20px;
    border: 2px solid black;
    width:750px;   
    height: 740px;
    margin: 50px;
    border-radius: 10px;
    padding: 20px; 
}
.Vertmonde{
    background-color: var(--Gold);
    margin-right: 20px;
    border: 2px solid black;
    width:750px;   
    height: 740px;
    margin: 50px;
    border-radius: 10px;
    padding: 20px; 
}
#foo1{
    background-color: var(--Gold);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px; 
    text-align: center;
    height: 80px;
}